body {
  overflow-y: scroll;
  overflow-x: hidden;
}

:root,
body,
html {
  background-color:  #FCFCFC;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: 'Roboto', sans-serif;
}